In [2]:
from bs4 import BeautifulSoup
import requests as req
from tqdm import tqdm
import pandas as pd
import numpy as np
import json

In [3]:
with open("../config/app_id.txt") as f:
    app_id = f.read()

In [4]:
link = f"https://api.worldoftanks.ru/wot/encyclopedia/vehicles/?application_id={app_id}&limit=1"

In [5]:
data = json.loads(req.get(link).text)

In [6]:
# Getting tanks parameters from WoT API.
# I use top tank modules to calc tank parameters.
# Gun is chosen by max dpm.
tanks_data = []
tanks_index = []
try:
    for tank_id in tqdm(data["data"]):

        tank = {}
        tank["wg_id"] = tank_id
        tank["tag"] = data["data"][tank_id]["tag"]
        tank["lvl"] = data["data"][tank_id]["tier"]
        tank["type"] = data["data"][tank_id]["type"]
        tank["name"] = data["data"][tank_id]["name"]
        tank["short_name"] = data["data"][tank_id]["short_name"]

        modules = {}
        modules["vehicleTurret"] = []
        modules["vehicleGun"] = []
        for i in data["data"][tank_id]["modules_tree"]:
            if data["data"][tank_id]["modules_tree"][i]["type"] == "vehicleTurret":
                modules["vehicleTurret"].append(i)
            elif data["data"][tank_id]["modules_tree"][i]["type"] == "vehicleGun":
                    modules["vehicleGun"].append(i)
            elif data["data"][tank_id]["modules_tree"][i]["next_modules"] is None:
                    modules[data["data"][tank_id]["modules_tree"][i]["type"]] = i

        if len(modules["vehicleTurret"]) > 1:
            if data["data"][tank_id]["modules_tree"][modules["vehicleTurret"][0]]['is_default']:
                modules["vehicleTurret"] = modules["vehicleTurret"][1]
            else:
                modules["vehicleTurret"] = modules["vehicleTurret"][0]
        elif len(modules["vehicleTurret"]) == 0:
            modules["vehicleTurret"] = None
        else:
            modules["vehicleTurret"] = modules["vehicleTurret"][0]

        config = {}
        dpm = 0

        for i in modules["vehicleGun"]:
            link = f"https://api.worldoftanks.ru/wot/encyclopedia/vehicleprofile/?application_id={app_id}"
            link += "&tank_id=" + tank_id
            link += "&gun_id=" + i
            link += "&suspension_id=" + modules["vehicleChassis"]
            link += "&engine_id=" + modules["vehicleEngine"]
            link += "&radio_id=" + modules["vehicleRadio"]
            if modules["vehicleTurret"] is not None:
                link += "&turret_id=" + modules["vehicleTurret"]
            tmp_config = json.loads(req.get(link).text)
            
            if tmp_config["status"] == "error":
                continue
            tmp_dpm = tmp_config["data"][tank_id]["ammo"][0]["damage"][1] * tmp_config["data"][tank_id]["gun"]["fire_rate"]
            
            if dpm < tmp_dpm:
                dpm = tmp_dpm
                config = tmp_config

        tank["damage"] = config["data"][tank_id]["ammo"][0]["damage"][1]
        tank["dpm"] = round(dpm, 2)
        tank["penetration"] = config["data"][tank_id]["ammo"][0]["penetration"][1]
        tank["accuracy"] = config["data"][tank_id]["gun"]["dispersion"]
        tank["aim_time"] = config["data"][tank_id]["gun"]["aim_time"]
        tank["speed"] = config["data"][tank_id]["speed_forward"]
        tank["cp_power"] = round(config["data"][tank_id]["engine"]["power"] / (config["data"][tank_id]["weight"] / 1000), 2)
        tank["hp"] = config["data"][tank_id]["hp"]
        tank["armor_hull"] = config["data"][tank_id]["armor"]["hull"]["front"]
        if config["data"][tank_id]["armor"]["turret"] is not None:
            tank["armor_turret"] = config["data"][tank_id]["armor"]["turret"]["front"]
            tank["view_range"] = config["data"][tank_id]["turret"]["view_range"]
        else:
            tank["armor_turret"] = np.nan
        tank["view_range"] = config["data"][tank_id]["turret"]["view_range"]

        tanks_data.append(tank)
        tanks_index.append(tank_id)
except Exception as e:
    print(tank_id)
    print(str(e))
    print(modules)
    print(config)
    
tanks_data = pd.DataFrame(tanks_data, index=tanks_index)

100%|████████████████████████████████████████████████████████████████████████████████| 713/713 [05:47<00:00,  2.05it/s]

In [7]:
# Remove special mods tanks
tanks_data = tanks_data[~tanks_data.name.map(lambda x: any([x.endswith(i) for i in ["ЛФ", "FL", "CL", "КЛ"]]))]

In [8]:
# Parse tanks ids that using in wotreplays
scripts = BeautifulSoup(req.get("http://wotreplays.ru").text, "html.parser").findAll(lambda tag: tag.name == "script" and tag.has_attr("src"))
for i in scripts:
    if i["src"].endswith("ru.filters.js"):
        link = "http://wotreplays.ru" + i["src"]
        break

js_data = req.get(link).text
wr_tanks_json = json.loads(js_data[len("var filtersData = "):js_data.find(";")])
wr_tanks = pd.DataFrame(wr_tanks_json["tank"]["checkboxes"])[["id", "title"]]\
    .rename(columns={"id": "wr_id", "title": "name"})\
    .replace("Progetto M35 mod 46", "Progetto M35 mod. 46")\
    .replace("M4 Sherman", "M4A1 Sherman")\
    .replace("Carro da Combattimento 45t", "Carro da Combattimento 45 t")\
    .replace("CS-52", "CS-52 LIS")

In [18]:
# For some of tanks we have more than 1 id. Code below removes ids which has no replays
wr_id_count = wr_tanks[wr_tanks.name.isin(tanks_data.name)].groupby("name").wr_id.count().sort_values()
multi_id_tanks = list(wr_id_count[wr_id_count > 1].index)
multi_ids = wr_tanks[wr_tanks.name.isin(multi_id_tanks)].wr_id
has_replays = []
for i in tqdm(multi_ids):
    html = BeautifulSoup(req.get(
        f"http://wotreplays.ru/site/index/battle_type/1/tank/{i}").text, 'html.parser')
    links = [el.get("href") for el in html.find_all(class_="btn_l-grey")[:-1]]
    if len(links) != 0:
        has_replays.append(i)
wr_tanks[wr_tanks.wr_id.isin(has_replays)].sort_values("name")

100%|██████████████████████████████████████████████████████████████████████████████████| 58/58 [00:15<00:00,  3.84it/s]

        wr_id                   name
44        616                    113
132       803                 FV4202
858      1534           Kunze Panzer
534  534-1210          Leichttraktor
449  434-1124         M4A3E8 Sherman
428  412-1103                Panther
262   527-937            Pz.Kpfw. II
493  745-1168   Pz.Kpfw. III Ausf. J
600      1276           Pz.Kpfw. VII
581      1257           Pz.Kpfw. VII
538  535-1214             Renault FT
59        631          Renault NC-31
541  739-1217           Renault Otsu
51        623                 T-34-1
357  536-1032          T1 Cunningham
264   530-939         T2 Medium Tank
234   381-908               Tiger II
42        608   Vickers Medium Mk. I
41        607  Vickers Medium Mk. II
654      1330                   ИС-М
678      1354                   ИС-М
333  537-1008                   МС-1
652      1328             Объект 257
529  533-1205                   Т-26
345  443-1020                Т-34-85
702      1378                 Т-50-2

In [24]:
# Manualy remove some ids
wr_tanks_to_remove = set(multi_ids)
wr_tanks_to_remove -= (set(has_replays) - {"1330", "1257"})

In [25]:
# Remove tanks that hasn't replays or old
wr_tanks = wr_tanks[~wr_tanks.wr_id.isin(wr_tanks_to_remove)]

In [26]:
# Checking for tanks we didn't get wr_id
md = tanks_data.merge(wr_tanks, on="name", how="left")
md[md.wr_id.isnull()]

Empty DataFrame
Columns: [wg_id, tag, lvl, type, name, short_name, damage, dpm, penetration, accuracy, aim_time, speed, cp_power, hp, armor_hull, armor_turret, view_range, wr_id]
Index: []

In [27]:
md

,wg_id,tag,lvl,type,name,short_name,damage,dpm,penetration,accuracy,aim_time,speed,cp_power,hp,armor_hull,armor_turret,view_range,wr_id
0,1,R04_T-34,5,mediumTank,Т-34,Т-34,85,2217.65,112,0.34,2.3,56,17.40,590,45,52.0,350,467-795
1,3137,F08_AMX_50_100,8,heavyTank,AMX 50 100,AMX 50 100,240,1776.00,212,0.36,3.0,51,17.11,1400,90,90.0,380,378-858
2,2049,R12_A-20,5,lightTank,А-20,А-20,40,2168.80,46,0.45,2.3,72,28.39,560,20,37.0,360,486-1004
3,15617,R95_Object_907,10,mediumTank,Объект 907,Об. 907,320,2953.60,264,0.36,2.0,55,16.94,2000,110,228.0,400,669-1057
4,49169,G136_Tiger_131,6,heavyTank,Tiger 131,Tiger 131,220,1885.40,145,0.38,2.3,40,11.40,1060,100,100.0,370,1280
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
680,545,A01_T1_Cunningham,1,lightTank,T1 Cunningham,T1,30,900.00,33,0.51,2.5,41,17.47,245,10,10.0,280,536-1032
681,4705,J21_Type_91,3,heavyTank,Type 91 Heavy,Type 91,70,1999.90,81,0.40,2.1,25,12.44,445,20,20.0,330,892
682,47873,R143_T_29,3,mediumTank,Т-29,Т-29,110,1410.20,66,0.55,2.3,45,17.54,445,30,20.0,300,1281
683,1841,Ch18_WZ-120,9,mediumTank,WZ-120,WZ-120,440,2398.00,249,0.38,3.4,60,16.13,1750,100,220.0,390,617
684,5169,Ch20_Type58,6,mediumTank,Type 58,Type 58,160,1920.00,128,0.38,2.3,55,16.00,840,45,90.0,370,626

In [28]:
md.to_csv("../data/assets/tanks.csv", index=False)